.mainPageBG{
    background-image:url("assert/mainPage_background/main_bg_1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

.btn-group button{
  background:#b50804;
}

html,body{
  width:100%;
  height:100%;
  margin:0px;
  padding: 0px;
  overflow-x: hidden;
}
